API/bin/Debug/netcoreapp2.2/API.Core.dll
API/bin/Debug/netcoreapp2.2/API.Core.dll
API/bin/Debug/netcoreapp2.2/API.Core.dll
API/bin/Debug/netcoreapp2.2/API.Core.pdb
API/bin/Debug/netcoreapp2.2/API.dll
API/bin/Debug/netcoreapp2.2/API.pdb
API/logs/api20200628_001.txt
API/logs/api20200628.txt
API/obj/Debug/netcoreapp2.2/API.dll
API/obj/Debug/netcoreapp2.2/API.pdb
API.Core/bin/Debug/netcoreapp2.2/API.Core.dll
API.Core/bin/Debug/netcoreapp2.2/API.Core.pdb
API.Core/obj/Debug/netcoreapp2.2/API.Core.dll
API.Core/obj/Debug/netcoreapp2.2/API.Core.pdb
API.Repository/bin/Debug/netcoreapp2.2/API.Core.dll
API.Repository/bin/Debug/netcoreapp2.2/API.Core.pdb
API/logs/api20200629.txt
API/obj/Debug/netcoreapp2.2/API.assets.cache
API/obj/Debug/netcoreapp2.2/API.csprojAssemblyReference.cache
API.Core/obj/Debug/netcoreapp2.2/API.Core.assets.cache
API.Core/obj/Debug/netcoreapp2.2/API.Core.csprojAssemblyReference.cache
API.Repository/obj/Debug/netcoreapp2.2/API.Repository.assets.cache
API.Repository/obj/Debug/netcoreapp2.2/API.Repository.csprojAssemblyReference.cache
